In [44]:
import org.apache.spark.sql.SparkSession

lastException: Throwable = null

In [45]:
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", "/user/itv001389/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark with Scala").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@5195b069

org.apache.spark.sql.SparkSession@5195b069

In [46]:
spark.sql("use raj")

[]

In [5]:
spark.sql("show tables").show()

+--------+----------------+-----------+
|database|       tableName|isTemporary|
+--------+----------------+-----------+
|     raj|             dep|      false|
|     raj|        dep_join|      false|
|     raj|             emp|      false|
|     raj|        emp_join|      false|
|     raj|        emp_part|      false|
|     raj|     emp_raj_par|      false|
|     raj|           join1|      false|
|     raj|           join2|      false|
|     raj|          joins1|      false|
|     raj|         joins_1|      false|
|     raj|          joins2|      false|
|     raj|          joins3|      false|
|     raj|      order_immu|      false|
|     raj|   orderitem_nor|      false|
|     raj|   orderitem_orc|      false|
|     raj|   orderitem_par|      false|
|     raj|      orderitems|      false|
|     raj|     order_items|      false|
|     raj|order_items_part|      false|
|     raj|        order_oi|      false|
+--------+----------------+-----------+
only showing top 20 rows

In [47]:
import org.apache.spark.sql.functions._

In [48]:
import spark.implicits._

In [49]:
import org.apache.spark.sql.Column

In [50]:
import org.apache.spark.sql.expressions._

In [51]:
val df=spark.read.parquet("hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/orders/part-00000-6502fdf1-89f6-48b4-ae4c-6c0376ab98ce-c000.snappy.parquet")

df = [order_id: int, Order_date: timestamp ... 2 more fields]

[order_id: int, Order_date: timestamp ... 2 more fields]

In [52]:
df.createOrReplaceTempView("orders")

In [53]:
spark.sql("select * from orders").show()

+--------+-------------------+----------------+---------------+
|order_id|         Order_date|Order_product_id|   Order_status|
+--------+-------------------+----------------+---------------+
|       1|2013-07-25 00:00:00|           11599|         CLOSED|
|       2|2013-07-25 00:00:00|             256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|           12111|       COMPLETE|
|       4|2013-07-25 00:00:00|            8827|         CLOSED|
|       5|2013-07-25 00:00:00|           11318|       COMPLETE|
|       6|2013-07-25 00:00:00|            7130|       COMPLETE|
|       7|2013-07-25 00:00:00|            4530|       COMPLETE|
|       8|2013-07-25 00:00:00|            2911|     PROCESSING|
|       9|2013-07-25 00:00:00|            5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:00|            5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:00|             918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:00|            1837|         CLOSED|
|      13|2013-07-25 00:00:00|            9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:00|            9842|     PROCESSING|
|      15|2013-07-25 00:00:00|            2568|       COMPLETE|
|      16|2013-07-25 00:00:00|            7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:00|            2667|       COMPLETE|
|      18|2013-07-25 00:00:00|            1205|         CLOSED|
|      19|2013-07-25 00:00:00|            9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:00|            9198|     PROCESSING|
+--------+-------------------+----------------+---------------+
only showing top 20 rows

In [27]:
spark.sql("describe formatted orders").show()

+----------------+---------+-------+
|        col_name|data_type|comment|
+----------------+---------+-------+
|        order_id|      int|   null|
|      Order_date|timestamp|   null|
|Order_product_id|      int|   null|
|    Order_status|   string|   null|
+----------------+---------+-------+

In [54]:
val df1=spark.read.schema("order_item_id int,order_item_order_id int,order_item_product_id int,order_item_quantity int,order_item_subtotal decimal(17,4),order_item_product_price decimal(17,4)").csv("hdfs://m01.itversity.com:9000/user/itv001389/warehouse/raj.db/order_item_new")

df1 = [order_item_id: int, order_item_order_id: int ... 4 more fields]

[order_item_id: int, order_item_order_id: int ... 4 more fields]

In [55]:
df1.createOrReplaceTempView("orderItems")

In [16]:
spark.sql("select * from orderItems").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|           299.9800|                299.9800|
|            2|                  2|                 1073|                  1|           199.9900|                199.9900|
|            3|                  2|                  502|                  5|           250.0000|                 50.0000|
|            4|                  2|                  403|                  1|           129.9900|                129.9900|
|            5|                  4|                  897|                  2|            49.9800|                 24.9900|
|            6|                  4|                  365|                  5|           299.9500|                 59.9900|
|            7|                  4|                  502|                  3|           150.0000|                 50.0000|
|            8|                  4|                 1014|                  4|           199.9200|                 49.9800|
|            9|                  5|                  957|                  1|           299.9800|                299.9800|
|           10|                  5|                  365|                  5|           299.9500|                 59.9900|
|           11|                  5|                 1014|                  2|            99.9600|                 49.9800|
|           12|                  5|                  957|                  1|           299.9800|                299.9800|
|           13|                  5|                  403|                  1|           129.9900|                129.9900|
|           14|                  7|                 1073|                  1|           199.9900|                199.9900|
|           15|                  7|                  957|                  1|           299.9800|                299.9800|
|           16|                  7|                  926|                  5|            79.9500|                 15.9900|
|           17|                  8|                  365|                  3|           179.9700|                 59.9900|
|           18|                  8|                  365|                  5|           299.9500|                 59.9900|
|           19|                  8|                 1014|                  4|           199.9200|                 49.9800|
|           20|                  8|                  502|                  1|            50.0000|                 50.0000|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [28]:
spark.sql("describe formatted orderItems").show()

+--------------------+-------------+-------+
|            col_name|    data_type|comment|
+--------------------+-------------+-------+
|       order_item_id|          int|   null|
| order_item_order_id|          int|   null|
|order_item_produc...|          int|   null|
| order_item_quantity|          int|   null|
| order_item_subtotal|decimal(17,4)|   null|
|order_item_produc...|decimal(17,4)|   null|
+--------------------+-------------+-------+

In [29]:
spark.sql("select * from orders where Order_status in ('COMPLETE','CLOSED')").show()

+--------+-------------------+----------------+------------+
|order_id|         Order_date|Order_product_id|Order_status|
+--------+-------------------+----------------+------------+
|       1|2013-07-25 00:00:00|           11599|      CLOSED|
|       3|2013-07-25 00:00:00|           12111|    COMPLETE|
|       4|2013-07-25 00:00:00|            8827|      CLOSED|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|
|       6|2013-07-25 00:00:00|            7130|    COMPLETE|
|       7|2013-07-25 00:00:00|            4530|    COMPLETE|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|
|      15|2013-07-25 00:00:00|            2568|    COMPLETE|
|      17|2013-07-25 00:00:00|            2667|    COMPLETE|
|      18|2013-07-25 00:00:00|            1205|      CLOSED|
|      22|2013-07-25 00:00:00|             333|    COMPLETE|
|      24|2013-07-25 00:00:00|           11441|      CLOSED|
|      25|2013-07-25 00:00:00|            9503|      CLOSED|
|      26|2013-07-25 00:00:00|            7562|    COMPLETE|
|      28|2013-07-25 00:00:00|             656|    COMPLETE|
|      32|2013-07-25 00:00:00|            3960|    COMPLETE|
|      35|2013-07-25 00:00:00|            4840|    COMPLETE|
|      37|2013-07-25 00:00:00|            5863|      CLOSED|
|      45|2013-07-25 00:00:00|            2636|    COMPLETE|
|      51|2013-07-25 00:00:00|           12271|      CLOSED|
+--------+-------------------+----------------+------------+
only showing top 20 rows

In [30]:
spark.sql("select * from orders o join orderItems oi on o.Order_id=oi.order_item_order_id where Order_status in ('COMPLETE','CLOSED')").show()

+--------+-------------------+----------------+------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_id|         Order_date|Order_product_id|Order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+--------+-------------------+----------------+------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       1|2013-07-25 00:00:00|           11599|      CLOSED|            1|                  1|                  957|                  1|           299.9800|                299.9800|
|       4|2013-07-25 00:00:00|            8827|      CLOSED|            5|                  4|                  897|                  2|            49.9800|                 24.9900|
|       4|2013-07-25 00:00:00|            8827|      CLOSED|            6|                  4|                  365|                  5|           299.9500|                 59.9900|
|       4|2013-07-25 00:00:00|            8827|      CLOSED|            7|                  4|                  502|                  3|           150.0000|                 50.0000|
|       4|2013-07-25 00:00:00|            8827|      CLOSED|            8|                  4|                 1014|                  4|           199.9200|                 49.9800|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|            9|                  5|                  957|                  1|           299.9800|                299.9800|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|           10|                  5|                  365|                  5|           299.9500|                 59.9900|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|           11|                  5|                 1014|                  2|            99.9600|                 49.9800|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|           12|                  5|                  957|                  1|           299.9800|                299.9800|
|       5|2013-07-25 00:00:00|           11318|    COMPLETE|           13|                  5|                  403|                  1|           129.9900|                129.9900|
|       7|2013-07-25 00:00:00|            4530|    COMPLETE|           14|                  7|                 1073|                  1|           199.9900|                199.9900|
|       7|2013-07-25 00:00:00|            4530|    COMPLETE|           15|                  7|                  957|                  1|           299.9800|                299.9800|
|       7|2013-07-25 00:00:00|            4530|    COMPLETE|           16|                  7|                  926|                  5|            79.9500|                 15.9900|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|           34|                 12|                  957|                  1|           299.9800|                299.9800|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|           35|                 12|                  134|                  4|           100.0000|                 25.0000|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|           36|                 12|                 1014|                  3|           149.9400|                 49.9800|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|           37|                 12|                  191|                  5|           499.9500|                 99.9900|
|      12|2013-07-25 00:00:00|            1837|      CLOSED|           38|                 12|                  502|                  5|           250.0000|                 50.0000|
|      15|2013-07-25 00:00:00|            2568|    COMPLETE|           43|                 15|                  502|                  1|            50.0000|                 50.0000|
|      15|2013-07-25 00:00:00|            2568|    COMPLETE|           44|                 15|                 1073|                  1|           199.9900|                199.9900|
+--------+-------------------+----------------+------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [33]:
spark.sql("select * from orders where Order_status in ('COMPLETE','CLOSED') and Order_date like '2013-08%'").show()

+--------+-------------------+----------------+------------+
|order_id|         Order_date|Order_product_id|Order_status|
+--------+-------------------+----------------+------------+
|    1297|2013-08-01 00:00:00|           11607|    COMPLETE|
|    1298|2013-08-01 00:00:00|            5105|      CLOSED|
|    1299|2013-08-01 00:00:00|            7802|    COMPLETE|
|    1302|2013-08-01 00:00:00|            1695|    COMPLETE|
|    1304|2013-08-01 00:00:00|            2059|    COMPLETE|
|    1305|2013-08-01 00:00:00|            3844|    COMPLETE|
|    1307|2013-08-01 00:00:00|            4474|    COMPLETE|
|    1309|2013-08-01 00:00:00|            2367|      CLOSED|
|    1312|2013-08-01 00:00:00|           12291|    COMPLETE|
|    1314|2013-08-01 00:00:00|           10993|    COMPLETE|
|    1315|2013-08-01 00:00:00|            5660|    COMPLETE|
|    1318|2013-08-01 00:00:00|            4212|    COMPLETE|
|    1319|2013-08-01 00:00:00|            3966|    COMPLETE|
|    1320|2013-08-01 00:00:00|           12270|    COMPLETE|
|    1321|2013-08-01 00:00:00|             800|    COMPLETE|
|    1322|2013-08-01 00:00:00|            9264|    COMPLETE|
|    1323|2013-08-01 00:00:00|            7422|    COMPLETE|
|    1324|2013-08-01 00:00:00|            4600|    COMPLETE|
|    1327|2013-08-01 00:00:00|            9526|    COMPLETE|
|    1329|2013-08-01 00:00:00|            6070|      CLOSED|
+--------+-------------------+----------------+------------+
only showing top 20 rows

lastException: Throwable = null

In [39]:
spark.sql("select o.* from orders o left join orderItems oi on o.Order_id=oi.order_item_order_id where order_item_order_id is null").show()

+--------+-------------------+----------------+---------------+
|order_id|         Order_date|Order_product_id|   Order_status|
+--------+-------------------+----------------+---------------+
|       3|2013-07-25 00:00:00|           12111|       COMPLETE|
|       6|2013-07-25 00:00:00|            7130|       COMPLETE|
|      22|2013-07-25 00:00:00|             333|       COMPLETE|
|      26|2013-07-25 00:00:00|            7562|       COMPLETE|
|      32|2013-07-25 00:00:00|            3960|       COMPLETE|
|      40|2013-07-25 00:00:00|           12092|PENDING_PAYMENT|
|      47|2013-07-25 00:00:00|            8487|PENDING_PAYMENT|
|      53|2013-07-25 00:00:00|            4701|     PROCESSING|
|      54|2013-07-25 00:00:00|           10628|PENDING_PAYMENT|
|      55|2013-07-25 00:00:00|            2052|        PENDING|
|      60|2013-07-25 00:00:00|            8365|PENDING_PAYMENT|
|      76|2013-07-25 00:00:00|            6898|       COMPLETE|
|      78|2013-07-25 00:00:00|            8619| PAYMENT_REVIEW|
|      79|2013-07-25 00:00:00|            7327|PENDING_PAYMENT|
|      80|2013-07-25 00:00:00|            3007|       COMPLETE|
|      82|2013-07-25 00:00:00|            3566|PENDING_PAYMENT|
|      85|2013-07-25 00:00:00|            1485|        PENDING|
|      86|2013-07-25 00:00:00|            6680|PENDING_PAYMENT|
|      89|2013-07-25 00:00:00|             824|        ON_HOLD|
|      90|2013-07-25 00:00:00|            9131|         CLOSED|
+--------+-------------------+----------------+---------------+
only showing top 20 rows

In [41]:
spark.sql("select oi.* from orders o right join orderItems oi on o.Order_id=oi.order_item_order_id where Order_id is null").show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

lastException: Throwable = null

In [56]:
spark.sql("select o.Order_date,oi.order_item_product_id,oi.order_item_subtotal from orders o join orderItems oi on o.Order_id=oi.order_item_order_id where Order_status in ('COMPLETE','CLOSED')").show()

+-------------------+---------------------+-------------------+
|         Order_date|order_item_product_id|order_item_subtotal|
+-------------------+---------------------+-------------------+
|2013-07-25 00:00:00|                  957|           299.9800|
|2013-07-25 00:00:00|                  897|            49.9800|
|2013-07-25 00:00:00|                  365|           299.9500|
|2013-07-25 00:00:00|                  502|           150.0000|
|2013-07-25 00:00:00|                 1014|           199.9200|
|2013-07-25 00:00:00|                  957|           299.9800|
|2013-07-25 00:00:00|                  365|           299.9500|
|2013-07-25 00:00:00|                 1014|            99.9600|
|2013-07-25 00:00:00|                  957|           299.9800|
|2013-07-25 00:00:00|                  403|           129.9900|
|2013-07-25 00:00:00|                 1073|           199.9900|
|2013-07-25 00:00:00|                  957|           299.9800|
|2013-07-25 00:00:00|                  926|            79.9500|
|2013-07-25 00:00:00|                  957|           299.9800|
|2013-07-25 00:00:00|                  134|           100.0000|
|2013-07-25 00:00:00|                 1014|           149.9400|
|2013-07-25 00:00:00|                  191|           499.9500|
|2013-07-25 00:00:00|                  502|           250.0000|
|2013-07-25 00:00:00|                  502|            50.0000|
|2013-07-25 00:00:00|                 1073|           199.9900|
+-------------------+---------------------+-------------------+
only showing top 20 rows

In [61]:
spark.sql("select o.Order_date,oi.order_item_product_id,sum(oi.order_item_subtotal) from orders o join orderItems oi on o.Order_id=oi.order_item_order_id where Order_status in ('COMPLETE','CLOSED') group by o.Order_date,oi.order_item_product_id").show()

+-------------------+---------------------+------------------------+
|         Order_date|order_item_product_id|sum(order_item_subtotal)|
+-------------------+---------------------+------------------------+
|2013-08-16 00:00:00|                  365|               3719.3800|
|2013-09-06 00:00:00|                  278|                179.9600|
|2013-09-14 00:00:00|                  810|                 59.9700|
|2013-09-21 00:00:00|                  403|               2469.8100|
|2013-09-21 00:00:00|                  924|                 63.9600|
|2013-09-28 00:00:00|                 1014|               3748.5000|
|2013-10-02 00:00:00|                  564|                 90.0000|
|2013-10-16 00:00:00|                  793|                 14.9900|
|2013-10-25 00:00:00|                  810|                 59.9700|
|2013-10-30 00:00:00|                  905|                 24.9900|
|2013-11-04 00:00:00|                  905|                 74.9700|
|2013-11-11 00:00:00|                  172|                150.0000|
|2013-11-14 00:00:00|                  134|                125.0000|
|2013-11-28 00:00:00|                  821|                259.9500|
|2013-11-29 00:00:00|                  116|                134.9700|
|2013-11-29 00:00:00|                  793|                 44.9700|
|2013-12-24 00:00:00|                  957|               4799.6800|
|2013-12-28 00:00:00|                  818|                239.9500|
|2013-12-30 00:00:00|                  703|                 59.9700|
|2014-01-12 00:00:00|                  565|                350.0000|
+-------------------+---------------------+------------------------+
only showing top 20 rows

lastException: Throwable = null

In [67]:
spark.sql("select o.Order_date,oi.order_item_product_id,sum(oi.order_item_subtotal) daily_revenue from orders o join orderItems oi on o.Order_id=oi.order_item_order_id where Order_status in ('COMPLETE','CLOSED') group by o.Order_date,oi.order_item_product_id order by Order_date,daily_revenue desc").show()

+-------------------+---------------------+-------------+
|         Order_date|order_item_product_id|daily_revenue|
+-------------------+---------------------+-------------+
|2013-07-25 00:00:00|                 1004|    5599.7200|
|2013-07-25 00:00:00|                  191|    5099.4900|
|2013-07-25 00:00:00|                  957|    4499.7000|
|2013-07-25 00:00:00|                  365|    3359.4400|
|2013-07-25 00:00:00|                 1073|    2999.8500|
|2013-07-25 00:00:00|                 1014|    2798.8800|
|2013-07-25 00:00:00|                  403|    1949.8500|
|2013-07-25 00:00:00|                  502|    1650.0000|
|2013-07-25 00:00:00|                  627|    1079.7300|
|2013-07-25 00:00:00|                  226|     599.9900|
|2013-07-25 00:00:00|                   24|     319.9600|
|2013-07-25 00:00:00|                  821|     207.9600|
|2013-07-25 00:00:00|                  625|     199.9900|
|2013-07-25 00:00:00|                  705|     119.9900|
|2013-07-25 00:00:00|                  572|     119.9700|
|2013-07-25 00:00:00|                  666|     109.9900|
|2013-07-25 00:00:00|                  725|     108.0000|
|2013-07-25 00:00:00|                  134|     100.0000|
|2013-07-25 00:00:00|                  906|      99.9600|
|2013-07-25 00:00:00|                  828|      95.9700|
+-------------------+---------------------+-------------+
only showing top 20 rows